body {
  margin: 0;
}

#form {
  padding: 2rem 0;
  border-radius: 10px;
}

#table {
  padding: 2rem 0;
  border-radius: 10px;
  font-size: 0.8rem;
}

form input {
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 4px;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background-color: lightgray;
  font-weight: 700;
  margin: 4px 0;
}

.titles {
  font-weight: 700;
}
